*, ::after, ::before {
  box-sizing: border-box;
}

.navbar {
  background-color: #032500;
  border-bottom: 2px solid #2e2e2e;
  height: 60px;
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.runningInfo {
  height: 18px;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
  background-color: #032500;
  border-bottom: 2px solid #2e2e2e;
}

.topbarOne {  
  color: white;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: flex-start;
  justify-content: space-between;
  margin-right: auto;
  width: 30%;
}

.topbarTwo {
  width: 40%;
}

.nUzixName {
  margin-top: 10px;
  align-items: center;
  width: 30%;
}

.uzixName {
  align-items: center;
  width: 30%;
}

.uzixSurname {
  align-items: center;
  width: 30%;
}

.topbarThree {
  margin-left: auto;
  display: flex;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 100%;
  justify-content: flex-end;
  padding-right: 10px;
}

.middleName {
  margin-left: auto;
  align-items: center;
}

.logo_navbar {
  width: 150px;
}

*>:any-link {
  box-sizing: border-box;
  text-align: center;
  color: white;
  text-align: center;
  align-items: center;
  font-family: 'Lucida Console';
  text-decoration: none;
}

*>:any-link:hover {
  color: #a09000;
}

.cabinet {
  margin-right: 10px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  border-radius: 26px;
  background-size: auto 200%;
  background-image: linear-gradient(0deg, #1293c8 0%, #1fe4f2 51%, #1293c8 100%);
  background-position: top;
  padding: 8px 42px;
  position: relative;  
  transition: all .4s ease;
}

.cabinetProp {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  border-radius: 26px;
  background-size: auto 200%;
  background-image: linear-gradient(0deg, #032500 0%, #064400 51%, #032500 100%);
  background-position: top;
  padding: 8px 42px;
  position: relative;  
  transition: all .4s ease;
}

.cabinetProp:hover {
  color: #fff;
  background-position: bottom;
  background-image: linear-gradient(0deg, #032500 0%, #064400 51%, #032500 100%);
}

.cabinet:hover {
  color: #fff;
  background-position: bottom;
  background-image: linear-gradient(0deg, #1293c8 0%, #1fe4f2 51%, #1293c8 100%);
}

.cabinetO {
  vertical-align: middle;
  font-size: 14px;
  font-weight: 800;
  color: #fff;
  border-radius: 26px;
  background-size: auto 200%;
  background-image: linear-gradient(0deg, #ff5f5e 0%, #ffc52f 51%, #ff5f5e);
  background-position: top;
  padding: 8px 42px;
  position: relative;  
  transition: all .4s ease;
}

.cabinetO:hover {
  color: #fff;
  background-position: bottom;
  background-image: linear-gradient(0deg, #ff5f5e 0%, #ffc52f 51%, #ff5f5e);
}

.navbar>:any-link:hover {
  cursor: pointer;
}

.form_container {
    width: 30%;
    min-width: 300px;
    margin: 10vh auto;
    display: flex;
    flex-direction: column;
    border: 1px solid gray;
    padding: 2%;
    border-radius: 5px;
}

.splashScreen {
  background-image: url('https://gspics.org/images/2022/11/26/0XMn7h.png');
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 1em;
}

.footerWrapper {
  border-top: 2px solid #2e2e2e;
  width: 100%;
  height: 150px;
  background-color: #032500;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  justify-content: left;
  
}

.footerWrapper div {
  height: 100%;
  border-right: 1px solid rgb(44, 44, 44);
}

.foooterLogo {
  height: 70%;
}

.footerIcon {
  width: 100%;
  height: 80%;
}